section{
    padding:60px 0;
}
.container{
    width: 79%;
    margin: 0 auto;
}
.section-a-txt h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 16px 0;
    border-bottom: 1px solid white;
}
.section-a-cards{
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.section-a .card{
    width: 360px;
    height: 240px;
    background-image: url(/assets/images/house4.jpg);
    
}
.card button{
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.section-b-content-txt h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 16px 0;
    border-bottom: 1px solid white;
}
.section-b-content-txt-bottom p{
    margin: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
.section-two-content-cards .card{
    width:360px ;
}
.card-img{
    width: 360px;
    height: 240px;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-txt{
    width:360px;
}
.section-b-content-cards{
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.section-b-content-cards h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}
.section-b-content-cards h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: coral;

}
.section-b-content-cards p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color:black;
    margin: 20px 0;
}
.section-b-content-cards button{
    width: 100%;
    background-color: white;
    padding: 10px 12px;
    border: 0;
    color: black;
}
@media screen and (min-width: 300px) and (max-width: 661px){
    .section-a .card{
        width: 236px;
        height: 157px;
    }
    .card-img{
        width: 236px;
        height: 157px;
    }
    .section-b-content-cards {
        justify-content: center;
    }
    .section-b-content-cards .card-txt{
        width: 236px;
    }
    .section-b-content-cards .card{
        width: 236px;
    }
    .sec-b-content .card{
        width: 236px !important;
    }
    .section-b-content-txt-bottom p{
        width: 95%;
    }
}
@media screen and (min-width: 662px) and (max-width: 992px){
}
@media screen and (min-width: 993px) and (max-width: 1570px){
    .container{
        width:96.2%;
        justify-content: space-evenly;
    }
}
